@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
  
  #cadastro {
    width: 400px;
    height: 400px;
    background: #641D46;
    box-shadow: 5px 5px 20px rgba(208, 57, 129, 0.5);
    border-radius: 10px;
  }

  #form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
  }

  input {
    padding-top: 16px;
    width: 100%;
    height: 30px;
    color: #333;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    border: 1px solid #dcdce6;
    border-radius: 3px;
    padding: 0 24px;
  }

  button {
    width: 100%;
    height: 60px;
    background: #D03981;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    font-family: Roboto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    transition: filter 0.2s;
  }
  
  button:hover {
    filter: brightness(90%);
  }
