#container {
    width: 400px;
    height: auto;
    background: #641D46;
    box-shadow: 5px 5px 20px rgba(208, 57, 129, 0.5);
    border-radius: 10px;
  }
  
  #form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      color: #FFFFFF;
  }

  input {
    padding-top: 16px;
    width: 100%;
    height: 30px;
    color: #333;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    border: 1px solid #dcdce6;
    border-radius: 3px;
    padding: 0 24px;
  }

  input#button {
    width: 100%;
    height: 60px;
    background: #D03981;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    margin-top: 16px;
    font-family: Roboto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    transition: filter 0.2s;
    cursor: pointer;
  }
  
  input#button:hover {
    filter: brightness(85%);
  }

  input#button2 {
    height: 20px;
    background: #D03981;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    margin-top: 16px;
    font-family: Roboto;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    transition: filter 0.2s;
    cursor: pointer;
  }
  
  input#button2:hover {
    filter: brightness(85%);
  }
  button {
    width: 100%;
    height: 60px;
    background: #D03981;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    margin-top: 16px;
    font-family: Roboto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    transition: filter 0.2s;
    cursor: pointer;
  }
  
  button:hover {
    filter: brightness(85%);
  }


  select{
    padding-top: 16px;
    width: 100%;
    height: 30px;
    color: #333;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    border: 1px solid #dcdce6;
    border-radius: 3px;
    padding: 0 24px;
}